---
import Layout from "../../layouts/Layout.astro";
import H1 from "../../components/H1.astro";
---

<Layout title="About | Warren Dewey">
  <H1 text="About" />
  <p>
    Hi, my name is Warren Dewey. I am a systems engineer, aspiring creator, and
    all-around guy.
  </p>
</Layout>
