@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Target only elements inside .mdx-content wrapper */
.mdx-content {
  font-size: 1rem;
  color: #000; /* Global text color for .mdx content */
  line-height: 1.6; /* Line height for readability */
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 900px; /* Limit content width */
}

/* Target specific semantic elements inside .mdx content */

/* Paragraphs */
.mdx-content p {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
}

/* Headings */
.mdx-content h3 {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

/* Lists */
.mdx-content ul,
.mdx-content ol {
  margin-left: 2rem;
  padding-left: 1rem;
}

.mdx-content li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* Inline Elements */
.mdx-content strong {
  font-weight: bold;
  color: #000;
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.mdx-content em {
  font-style: italic;
}

/* Images */
.mdx-content .large {
  width: 99%;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  margin-left: auto;
  margin-right: auto;
}

.mdx-content .medium {
  width: 75%;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  margin-left: auto;
  margin-right: auto;
}

.mdx-content .album {
  width: 50%;
  max-width: 600px;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  margin-left: auto;
  margin-right: auto;
}

.mdx-content .multi {
  width: 49%;
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  margin-left: auto;
  margin-right: auto;
}

/* Horizontal Rules */
hr {
  margin: 20px 0; /* Adjust spacing */
}
