---
import Layout from "../layouts/Layout.astro";
import H1 from "../components/H1.astro";
---

<Layout title="Home | Warren Dewey">
  <H1 text="Welcome to my personal website" />
  <p>
    Hi, my name is Warren Dewey. I am a systems engineer, aspiring creator, and
    all-around guy.
  </p>
  <section class="mt-8">
    <h2>Latest Blog Posts</h2>
  </section>
  <section class="mt-8"><h2>Featured Projects</h2></section>
</Layout>
