---
import Layout from "../layouts/Layout.astro";
import H1 from "../components/H1.astro";
import H2 from "../components/H2.astro";

// below this is the test javascript for getting the blog posts

import { getCollection } from "astro:content";
import PostList from "../components/PostList.astro";

const posts = await getCollection("posts");
console.log(posts);
---

<Layout title="Home | Warren Dewey">
  <div class="max-w-[700px] mx-auto">
    <H1 text="Welcome to my personal website" />
    <div class="flex justify-center">
      <img
        src="/desert.jpeg"
        width={700}
        height={200}
        alt="Me in the desert 2024"
        class="border border-black aspect-auto object-cover"
      />
    </div>
    <section class="mt-8">
      <H2 text="Latest Blog Posts" />
      <PostList posts={posts} />
    </section>
    <section class="mt-8"><H2 text="Featured Projects" /></section>
  </div>
</Layout>
