---
const currentPath = Astro.url.pathname;
---

<header class="w-full px-24 pb-4 max-sm:px-5 max-sm:py-10
max-w-7xl mx-auto">
  <nav>
    <ul class="flex justify-start items-center pt-4 w-full">
      <li
        class="hover:text-neutral-700 px-3 py-1 border border-black text-center grow bg-sky-200"
      >
        <a href="/blog">blog</a>
      </li>
      <li
        class="hover:text-neutral-700 px-3 py-1 border border-r-0 border-l-0 border-black text-center"
      >
        <a href="/projects">projects</a>
      </li>
      <li
        class="hover:text-neutral-700 px-3 py-1 border border-black text-center"
      >
        <a href="/about">about</a>
      </li>
    </ul>
  </nav>
</header>
