---
import Layout from "../../layouts/Layout.astro";
import H1 from "../../components/H1.astro";
---

<Layout title="Projects | Warren Dewey">
  <H1 text="Projects" />
  <h1 class="pb-8">I will add content for each of these projects at some point in the future. 
None of these projects are close to being fully completed :o </h1>

  <a href=""><h1 class="mb-4 hover:text-blue-800">The Human Project</h1></a>
  <a href=""><h1 class="mb-4 hover:text-blue-800">Dewey Jewelry Co.</h1></a>
  <a href=""><h1 class="mb-4 hover:text-blue-800">JukeBox</h1></a>
  <a href=""><h1 class="mb-4 hover:text-blue-800">Fight IQ</h1></a>
  <a href=""><h1 class="mb-4 hover:text-blue-800">Bespoke</h1></a>
</Layout>
