---
import Layout from "../../layouts/Layout.astro";
import H1 from "../../components/H1.astro";
---

<Layout title="Projects | Warren Dewey">
  <H1 text="Projects" />
  <h1>Testing</h1>
  <h2>Testing</h2>
  <h3>Testing</h3>
  <h4>Testing</h4>
</Layout>
