---
import Header from "../components/Header.astro";
import NewNavBar from "../components/NewNavBar.astro";
import Main from "../components/Main.astro";
import "../styles/global.css";
interface Props {
  title: string;
  description?: string;
  image?: string;
}
const {
  title = "Warren's Website",
  description = "Warren Dewey's personal website, portfolio, and blog.",
  image = "/triquetra.png",
} = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-neutral-950">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/triquetra.png" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:image" content={image} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-ice">
    <Header />
    <Main>
      <slot />
    </Main>
  </body>
</html>

<style>
  * {
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  .libre-caslon-text-bold {
    font-family: "Libre Caslon Text", serif;
    font-weight: 700;
    font-style: normal;
  }
  .libre-caslon-text-regular-italic {
    font-family: "Libre Caslon Text", serif;
    font-weight: 400;
    font-style: italic;
  }
</style>
